.contain-banner-home {
    background-image: url("../../public/assets/home/hero-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.effect-glass-black {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 32%, rgba(0,0,0,0.6348914565826331) 68%, rgba(0,0,0,0.7553396358543417) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 11rem;
}

.effect-glass-black h1{
    color: white;
    text-align: center;
    font-size: 60px;
    line-height: 90px;
    width: 60%;
    margin: 0 auto;
}
.effect-glass-black p{
    text-align: center;
    color: white;
    width: 60%;
    font-size: 24px;
    line-height: 32px;
    margin: 0 auto;
}
.effect-glass-black .color-text-orange{
    color: var(--orangePrimary);
}

.effect-glass-black .font-style-cursive{
    font-family: "Comforter Brush", cursive;
}

.effect-glass-black .btn-know-us{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin-top: 9rem;
}

.effect-glass-black .btn-know-us a{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}


@media screen and (max-width:820px){
    .effect-glass-black h1{
        width: 80%;
        font-size: 40px;
     
    }
    .effect-glass-black p{
        font-size: 18px;
    }
}

@media screen and (max-width:620px){
    .effect-glass-black h1{
        width: 80%;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 0;
    }
    .effect-glass-black p{
        font-size: 18px;
        width: 90%;
        margin-top: 0;
        line-height: 24px;
    }
    .effect-glass-black{
        padding-top: 13rem;
    }
    .effect-glass-black .btn-know-us{
        margin-top: 9rem;
    }
}