.content-contact{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.content-form-animate, .content-map-animate{
    width: 45%;
}

@media screen and (max-width:850px){
    .content-contact{
        flex-direction: column;
        justify-content: center;
        width: 95%;
    }
}