footer{
    background-color: var(--brownPrimary);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.content-menu-logo{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin-top: 4rem;
}

.content-menu-logo .logo-name{
    display: flex;
    align-items: center;
    gap: 10px;
}

.content-menu-logo .logo-name p{
    color: white;
    
    font-size: 18px;
}

.content-menu-logo .logo-name p span{
    font-weight: 100;
    letter-spacing: 2px;
    font-family: "Comforter Brush", cursive;
}

.content-menu-logo .text-coffe{
    width: 50%;
}

.content-menu-logo .text-coffe h2{
    color: #FDF4E7;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
}

.content-menu-logo .text-coffe h2 span{
    font-weight: 400;
    letter-spacing: 2px;
    font-family: "Comforter Brush", cursive;

}

.content-menu-logo ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.content-menu-logo ul li{
    color: #FDF4E7;
    font-size: 18px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.content-menu-logo ul li a{
    color: #FDF4E7;
}

.content-menu-logo ul li:hover{
    transform: scale(1.06);
    color: #EE8E11;
}

.line-seperation{
    height: 1px;
    background-color: #FDF4E780;
    width: 100%;
    margin-top: 4rem;
}

.content-logo-socials{
    width: 80%;
    margin: 2rem 0 3rem 0;
}

.content-logo-socials ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5rem;
}


@media screen and (max-width:800px){
    .content-menu-logo{
        flex-direction: column;
        width: 100%;
        padding: 0 1rem;
        gap: 1rem;
        align-items: flex-start;
    }

    .content-menu-logo .text-coffe{
        width: 100%;
    }
}

@media screen and (max-width:800px){
    .content-logo-socials{
        width: 100%;
        padding: 2rem;
    }
    .content-logo-socials ul{
        gap: initial;
        justify-content: space-between;
    }
}
